---
services:
  moto:
    image: motoserver/moto:5.1.21@sha256:93ad54da7badce7f9c13e5e6439c93564c764663c42872d2c39f718aa484047a
    command: [-p, '4566', -H, 0.0.0.0]
    environment:
      - TZ=UTC
    ports:
      - 4566:4566
  processor:
    image: mail/processor:latest
    build:
      context: .
      dockerfile: docker/processor/Dockerfile
    ports:
      - 9001:8080
    extra_hosts:
      - localhost:host-gateway
  imapfilter:
    image: mail/imapfilter:latest
    build:
      context: .
      dockerfile: docker/imapfilter/Dockerfile
    ports:
      - 9002:8080
    extra_hosts:
      - localhost:host-gateway
