---
services:
  moto:
    image: motoserver/moto:5.1.20@sha256:d2711655244df58411ce0be34236c95736390db17886370d21e12ae2b1e36f79
    command: [-p, '4566', -H, 0.0.0.0]
    environment:
      - TZ=UTC
    ports:
      - 4566:4566
  processor:
    image: mail/processor:latest
    build:
      context: .
      dockerfile: docker/processor/Dockerfile
    ports:
      - 9001:8080
    extra_hosts:
      - localhost:host-gateway
  imapfilter:
    image: mail/imapfilter:latest
    build:
      context: .
      dockerfile: docker/imapfilter/Dockerfile
    ports:
      - 9002:8080
    extra_hosts:
      - localhost:host-gateway
