---

name: Build and deploy mail infrastructure

on: [pull_request]

env:
  AWS_DEFAULT_REGION: eu-central-1
  SESSION_DURATION: 900
  # renovate: datasource=docker depName=tonistiigi/binfmt versioning=loose
  BINFMT_IMAGE: qemu-v9.2.0@sha256:ea2f0dd74e74f101df59f9a6b31d0960994060c7982a921cbceecee0f1841125

jobs:
  ci:
    name: Build and test
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          show-progress: false

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          image: tonistiigi/binfmt:${{ env.BINFMT_IMAGE }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-region: ${{ env.AWS_DEFAULT_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/mail-automation
          role-duration-seconds: ${{ env.SESSION_DURATION }}

      - name: Download lambda layers
        run: |
          ./bin/download-lambda-layers.sh

      - name: Build imapfilter
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: false
          platforms: linux/amd64
          cache-from: type=gha,scope=imapfilter
          cache-to: type=gha,mode=max,scope=imapfilter
          context: .
          file: docker/imapfilter/Dockerfile
          provenance: false
          tags: |
            mail/imapfilter:latest

      - name: Build processor
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: false
          platforms: linux/amd64
          cache-from: type=gha,scope=processor
          cache-to: type=gha,mode=max,scope=processor
          context: .
          file: docker/processor/Dockerfile
          provenance: false
          tags: |
            mail/processor:latest

      - name: Start docker compose
        run: |
          docker compose up -d --wait --quiet-pull
